<div class="p-4" style="background-image: url('/assets/tola.png'); background-size: cover; background-position: center; height: 100vh; color: rgb(117, 200, 58);">
    <div class="container">
        <h1>Hi {{account.firstName}}!</h1>
        <p>Welcome to the Clinica Appointment</p>
        
        <nav>
            <a routerLink="/home/appointments" routerLinkActive="active">Appointments</a> |
            <a routerLink="/home/reviews" routerLinkActive="active">Reviews</a>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>
